* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   text-decoration: none;
}

body {
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   line-height: 18px;
}

a {
   color: inherit;
   border-bottom: 3px solid #fff;
}

.container {
   max-width: 630px;
   width: 100%;
   margin: 0 auto;
   padding: 0 5px;
}

/*===========================================================================================================*\
#navbar
\*===========================================================================================================*/
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-transform: uppercase;
   padding: 10px 0;
   margin-bottom: 20px;
}

.navbar__item {
   display: flex;
   gap: 20px;
}

.navbar__btn {
   font-size: inherit;
   text-transform: uppercase;
   background: transparent;
   border: none;
   cursor: pointer;
}
